.page-index {
  display: flex;
  height: 100vh;
}

.index-sidebar {
  width: 300px;
  padding: 30px;
  background-color: aqua;
}

.category-label-wrapper {
  margin-bottom: 30px;
}

.category-label {
  font-size: 20px;
  text-decoration: none;
  color: #222222;
}

.index-main {
  padding: 80px 0 0 120px;
}

.page-link-wrapper {
  margin-bottom: 30px;
}

.page-link {
  font-size: 30px;
  text-decoration: none;
  color: #222222;
}